@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.container{
    /* display: grid; */
    /* grid-template-columns: repeat(1,1fr); */
    /* justify-content: space-evenly; */
    /* padding: 40px 40px; */
    /* background-color: #2D25A0; */
    margin-bottom: 80px;
}


/* Menu part optional */
.menu-parts{
    background-color: #2D25A0;
}
.menu-part .menu{
    display: flex;
}
.menu{
    margin: 0;
    /* margin-bottom: 0; */
    margin-left: 90px;
}

.menu li{
    /* display: flex; */
    list-style: none;
    margin-right: 25px;
    color: white;
    margin-top: 40px;
}
.menu button{
    margin-left: 615px;
    margin-top: 40px;

}
.fa-sign-in-alt{
    color: white;
    margin-right: 6px;

}


 /* first section CSS started */

.home-football{
    display: flex;
    background-color: #2D25A0;
    align-items: center;
    /* margin-top: 0; */
    /* justify-content: space-between; */
    /* margin: 30px 30px; */
    padding: 65px;

}
/* .half-width{
    width: 50%;
    padding-left: 10px;
} */

.home-text{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    /* margin: 100px 100px; */
    padding-left: 60px;
    padding-bottom: 0;
}
 .home-text h1{
    margin-bottom: 0;
}
button{
    background-color: crimson;
    padding: 12px 30px;
    /* margin-top: 0; */
}
/* button a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    
} */
button .link-btn{
    text-decoration: none;
    font-size: 16px;  
}
.link-btn{
    /* padding: 50px 30px; */
    color: white;
}
.fa-long-arrow-alt-right{
    margin-left: 10px;
    font-size: 16px;
    padding: 3px;
    color: white;
}

.home-photo img{
    width: 70%;
    margin-left: 120px;
}


/* football photo players Style started here */
article .footballer img,article .footballer h2,
article .footballer p{
    /* align-items: center; */
    margin-left: 18px;
}
.top-footballers{
    /* margin-bottom: 30px; */
    margin-left: 100px;
}
.footballers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    /* padding: 4px 4px; */
    /* box-shadow: 10px 10px 35px rgb(240, 16, 16); */

}

.item-shadow{
        /* box-shadow: 10px 10px 35px rgb(238, 235, 235); */
        width: 75%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 25px 5px;
        box-shadow: 11px 11px 40px gray;


}
.footballer{
    height: 450px;
    /* box-shadow: 10px 10px 35px rgb(240, 16, 16); */
    /* justify-content: center; */
}
.footballer img{
    width: 90%;
    /* margin-left: 15px; */
    /* align-items: center; */
    /* justify-content: center; */
    
}
 /* optional Highlights section styles here */
.top-highlights{
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 130px;
}

.top-highlights img{
    width: 70%;
    margin-left: 55px;
}
.highlights{
    display: flex;
    align-items: center;
}
.highlights h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}






/* footer with social ICon and copywirte styles here */
footer{
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    text-align: center;
}
footer span{
    /* align-content: center; */
    text-align: center;
}
.foot-photo img{
    width: 30%;
    /* align-items: center; */
    justify-content: center;
}
.connect{
    font-size: 20px;
    margin-right: 12px;
    background-color: rgb(196, 187, 187);
    border-radius: 15px;
    padding: 10px 10px;

}
.fa-facebook-f{
color:whitesmoke;
}
.fa-instagram{
    color:whitesmoke;
    
}
.fa-youtube{
    color:whitesmoke;
}
.fa-twitter{
    color:whitesmoke;
}
 /* Media Query for Mobile device Styels here */

 @media only screen and (max-width:688px) {
 
 main{
     width: auto;
 }
    .menu-parts{
         display: none;
         /* background-color: rgb(142, 222, 135); */
     }

     .container,header{
         width: 100%;
         /* background-color: chocolate; */
         /* display: none; */

     }
     .home-football{
         /* width: 40%; */
         flex-direction: column;
         padding: 0;
     }
     .home-text{
         width: fit-content;
         padding-left: 0;
         margin-left: 20px;
     }
     .home-football .home-text h1{
         width: 80%;
         font-size: 40px;
 }
 .home-photo img{
     margin-left: 0;
     margin: 20px 10px;
 }


 /* for photo section media query */
.top-footballers{
    margin-left: 0;
    margin-bottom: -80px;
}
 .footballers{
     grid-template-columns: repeat(1,1fr);
     margin-left: 0;
 }
 .item-shadow{
     width: 65%;
     /* margin: 0; */
     /* padding: 0; */

 } 
 
 .footballer{
     width: 70%;
     margin-right: 0;
 }
.footballer img{
width: 120%;    
}


 /* optional section media query */
 .top-highlights{
     width: fit-content;
     margin-left: 0;
     margin-bottom: 60px;
 }
 .highlights{
     flex-direction: column;
     align-items: normal;
     margin-left: 20px;
 }
 .highlight-photo img{
     margin-left: 0;
 }
 .highlight-content{
     width: 55%;
     margin-bottom: 20px;
 }
 .highlight-content h1{
     margin-top: 0;
 }


  /* footer section media query styles */
  .all-credits{
      width: 70%;
  }
  /* .all-credits .foot-photo img{
      width: 65%;
  }
  .all-credits .social-link img{
      width: 10%;

  } */
.all-credits h2{
    font-size: 12px;
}

 }