@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container{
    /* display: grid; */
    /* grid-template-columns: repeat(1,1fr); */
    /* justify-content: space-evenly; */
    /* padding: 40px 40px; */
    /* background-color: #2D25A0; */
}


/* Menu part optional */
.menu-parts{
    background-color: #2D25A0;
}
.menu-part .menu{
    display: flex;
}
.menu{
    margin: 0;
    /* margin-bottom: 0; */
    margin-left: 40px;
}

.menu li{
    /* display: flex; */
    list-style: none;
    margin-right: 25px;
    color: white;
    margin-top: 40px;
}
.menu button{
    margin-left: 615px;
    margin-top: 40px;

}


.home-football{
    display: flex;
    background-color: #2D25A0;
    align-items: center;
    /* margin-top: 0; */
    /* justify-content: space-between; */
    /* margin: 30px 30px; */
}
.home-text{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    /* margin: 100px 100px; */
    padding-left: 60px;
    padding-bottom: 0;
}
button{
    background-color: crimson;
    padding: 12px 30px;
    /* margin-top: 0; */
}
/* button a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    
} */
button .link-btn{
    text-decoration: none;
    font-size: 16px;
    color: white;
    
}
.link-btn{
    /* padding: 50px 30px; */
}

.home-photo img{
    width: 70%;
}